<h1>Edit Comment</h1>

<%= form_for [@post, @comment] do |f| %>
    <div>
        <%= f.label :body, "Edit comment:" %>
        <%= f.text_area :body %>
    </div>
    <br>
    <%= f.submit "Update your comment!" %>
<% end %>

<%= link_to "back", post_path(@post) %>