<h1>All the blog posts!</h1>

<%= link_to "make a new post", new_post_path %><br>
<% @posts.each do |post| %>
	<%= post.title %> - by <strong><%= post.user.first_name%> <%= post.user.last_name%></strong>
	<%= link_to 'view', post_path(post)%>
	<%  if current_user == post.user %>
		<%= link_to 'edit', edit_post_path(post)%>
		<%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %><br>
	
	<%= image_tag post.image.url(:large) %><br><hr>
	

<% end %>


