<!DOCTYPE html>
<html>
<head>
  <title>ProjectTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Add the jQuery library from CDN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

  <!-- Add the google maps library -->
  <script src="//maps.googleapis.com/maps/api/js"></script>

  <!-- Add JS from the asset pipeline afterwards -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
  <body>
    <div id="address-map" style="width:500px;height:380px;"></div>
    <strong>
    	<% flash.each do |key, value| %>
    	  <%= key %>: <%= value %>
    	<% end %>
    </strong><br><hr>

    <% if current_user %>
      <%= link_to 'Home', users_path%> <%= link_to current_user.first_name, user_path(current_user) %> <%= link_to 'Log Out', logout_path, method: :delete %> <%= link_to 'Posts', posts_path%>


    <% else %>
      <%= link_to 'Log In', login_path %>
      <%= link_to 'Sign Up', users_new_path %>
    <% end %>

    <%= yield %>

  </body>
</html>