<!DOCTYPE html>
<html>
<head>
  <title>ProjectTwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <strong>
  	<% flash.each do |key, value| %>
  	  <%= key %>: <%= value %>
  	<% end %>
  </strong><br><hr>

  <% if current_user %>
    <%= link_to 'Home', users_path%>
    <strong>
      <%= link_to current_user.first_name, user_path(current_user) %>
    </strong>
    <%= link_to 'Log Out', logout_path, method: :delete %> <%= link_to 'Posts', posts_path%>


  <% else %>
    <%= link_to 'Log In', login_path %>
    <%= link_to 'Sign Up', users_new_path %>
  <% end %>

  <%= yield %>

</body>
</html>
